<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>DMV Driver Login</h1>
              <form action="{{ url_for('login')}}" method="post" autocomplete="off">
            <div class="msg">{{ msg }}</div>
            <div class="form-outline mb-4">
                <input type="password" name="ssn" class="form-control" />
                <label class="form-label" for="ssn">SSN</label>
            </div>
            <button value="Login" type="submit" class="btn btn-primary btn-block mb-4">Login</button>
              </form></br></br>
              <p class="worddark">New to this page? <a class="worddark" href="/">Register here</a></p>
        </div>
    </body>
</html>  